<%- include('head')%>

<header class="fixed-top">
    <div class="container-md d-flex align-items-baseline justify-content-between pt-2" >
      <h3>BookStore</h3>
      <div class="d-flex justify-content-around">
          <nav class="justify-content-around">
              <a class="col-5" href="/">Home</a>
              <a class="col-5" href="/livros">Livros</a>
              <a class="col-5" href="/cadastrar">Cadastrar livro</a>
          </nav>
      </div>
  </div>
</header>

