<%- include('partials/head')%>

    <%- include('partials/navbar')%>

    <div class="container">
        <h1>Olá, mundo!</h1>
            <p>Em breve, teremos a Home Page de um e-commerce. Por enquanto, explore as rotas e seus métodos:</p>
            <br />
        
        <div class="list-group">
            <a href="/livros/"><button class="mb-3 col-3 btn-primary btn">GET -> Livros</button></a>
            <a href="/livros/1"><button class="mb-3 col-3 btn-primary btn">GET -> Livros/id</button></a>
            <a href="/cadastrar"><button class="mb-3 col-3 btn-primary btn">POST -> Cadastrar</button></a>
            <a href="/livros/1"><button class="mb-3 col-3 btn-primary btn">PUT -> Livros/id/</button></a>
            <a href="/livros/1"><button class="mb-3 col-3 btn-primary btn">DELETE -> Livros/id/</button></a>
        </div>
    
    </div>

    
        
